<mat-toolbar color="primary">
  <span><button mat-button routerLink="/">My Message</button></span>
  <span class="spacer"></span>
  <button mat-button routerLink="/list" routerLinkActive="mat-accent">
    Post List
  </button>
  <button *ngIf="userIsAuthenticated" mat-button routerLink="/create" routerLinkActive="mat-accent">
    Create Post
  </button>
  <button *ngIf="!userIsAuthenticated" mat-button routerLink="/auth/login" routerLinkActive="mat-accent">
    Login
  </button>
  <button *ngIf="!userIsAuthenticated" mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">
    Sign Up
  </button>
  <button *ngIf="userIsAuthenticated" mat-button routerLinkActive="mat-accent" (click)="onLogout()">
    Logout
  </button>
</mat-toolbar>